<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, height=device-height, 
         minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
      <title>SO EASY</title>
      <link rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
      <style>
         #btn_home {
         position: relative;
         top: -30%;
         left: 670px;
         }
         #btn_submit {
         position: relative;
         top: 0%;
         left: 400px;
         background: rgb(228, 169, 193);
         clear: right
         }
         #upleft {
         width: 50%;
         height: 658px;
         float: left;
         overflow-y: scroll;
         background-color: #263747;
         color: #B2C0CC;
         }
         #upright {
         width: 50%;
         height: 458px;
         float: right;
         background-color: #263747;
         color: #B2C0CC;
         }
         #below.result {
         height: 200px;
         width: 50%;
         position: relative;
         top: 10%;
         left: 50%;
         clear: right;
         background-color: #263747;
         color: #B2C0CC;
         }

        
         #container #footer {
         position: absolute;
         bottom: 0;
         width: 100%;
         height: 9%;
         background-color: #263747;
         color: #B2C0CC;
         }
      </style>
   </head>
   <body>
      <!-- 문제 보는 곳-->
      <form id="upleft">
         <fieldset>
            <%= "문제"+index['index'] + '번' %>
            <h2 class='text-center font-weight-bold mb-2'><%= index['title']%></h2>
         </fieldset>
         <main role="main">
            <div class='card mb-2' style="background-color: #263747;">
               <div class='card-header'><strong>문제 설명</strong></div>
               <div id='pro1' class='card-body'>
                 <%= index['description'] %>
               </div>
            </div>
            <div class='card mb-2' style="background-color: #263747;">
               <div class='card-header'><strong>입력</strong></div>
               <div id='pro2' class='card-body'><%= index['input'] %> <br />
                  <br />
                  <br />
               </div>
            </div>
            <div class='card mb-2' style="background-color: #263747;">
               <div class='card-header'><strong>출력</strong></div>
               <div id='pro3' class='card-body'><%= index['output'] %> <br />
                  <br />
                  <br />
               </div>
            </div>
            <div class='card mb-2' style="background-color: #263747;">
               <div class='card-header'><strong>입력 예시</strong>&nbsp;&nbsp;&nbsp;<button id='copybtn'
                  class='btn btn-outline-primary btn-sm copybtn' data-clipboard-target='#sinput'
                  data-toggle='tooltip' title='예시를 복사하여 붙여넣을 수 있습니다.'>예시 복사</button></div>
               <div class='card-body'>
                  <p id=sinput><samp class='sampledata'><%= index['input_example'] %>
                     </samp>
                  </p>
               </div>
            </div>
            <div class='card mb-2' style="background-color: #263747;">
            <div class='card-header'><strong>출력 예시</strong></div>
            <div class='card-body'>
               <p><samp class='sampledata'><%= index['output_example'] %>
            </div>
         </main>
      </form>
      <!-- 코드 쓰는곳 -->
      <!-- TODO: 언어 제대로 입력받는지 확인할것 -->
      <form id="upright" method="POST">
         <br />
         &nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="초기화"    style="background-color: #44576C;      border-color: #37485D;">
         &nbsp;&nbsp;
         <select id="language" name="language" style="background-color: #44576C;  border-color: #37485D;">
            <option value=0 selected>C</option>
            <option value=1>C++</option>
            <option value=3>Java</option>
            <option value=6>Python</option>
         </select>
         &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="소스 제출" id="btn_submit" style="background-color: #44576C;  border-color: #37485D; border-color: #37485D;">
         <br />
         <br />
         &nbsp;&nbsp;
         <textarea name="content" cols="100" rows="15" style="overflow-y:scroll; background-color: #263747; resize: none;"></textarea>
         <input type="hidden" name="index" value="<%= index["index"] %>" >
      </form>
      <!-- 결과 받는곳-->

      <div id="below" style="background-color: #44576C;">
         <ul id="result">
               
         </ul>
         <p id="score"> 

         </p>
         <a class="navbar-brand font-weight-bold" href="/" id="btn_home">HOME</a> </a>
      </div>



      <div id ="container">
         <div id ="footer">
            <h6 class="text-center">
               </br>
               kim youjin <a href='https://github.com/u0jin'>github</a>
               (E-mail : ujin5826@skuniv.ac.kr)
            </h6>
         </div>
      </div>
      
      <script type="text/javascript"></script>

      <script>
         let = form_el = document.querySelector("#upright");

         form_el.addEventListener("submit", function(evt){
            evt.preventDefault(); 
            let data = Object.fromEntries(new FormData(form_el).entries()) ;
            data = JSON.stringify(data);
            fetch("http://localhost:3000/submit_src", {
                 headers: {'Content-Type': 'application/json'},
                 method : 'POST',
                 body: data
            })
            .then(function(response){
                return response.json();
            })
            .then(function(myJson){
                  const score = document.querySelector("#score");
                 const ul = document.querySelector("#result");

               //const p = document.createElement("p");
               score.innerText =  myJson['score'];
                //score.append(p)

                 for(let i=0;i<myJson['case'].length;i++){
                    const li = document.createElement("li");
                    const span = document.createElement("span");
                    span.innerText = myJson['case'][i];
                    li.append(span);
                    ul.appendChild(li);
                 }
            })
         });
         </script>
   </body>
</html>
