<!DOCTYPE html> 
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h2><%= method %> result page</h2>
        <p>content: <%= content %></p>
        <p>language: <%= language %></p>
        <p>result: <%= result %></p>


    </body>
</html>


